/*
Colors
pale purple pantone: #F4EAFB
bluish cyan: #F1FBFE
smoky black: #12130F
white smoke: #F5F5F5
periwinkle: #BD93D3
ocean: #016064


*/

* {
  box-sizing:border-box;
}

body {
  background-color: #F4EAFB;
  font-family:'Nunito Sans', sans-serf;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color:black;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-family:'Montserrat';
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.35em;
  font-weight: 500;
}

h3{
  font-family: 'Poppins';
  font-size: 1.25em;
  font-weight: 500;
}


a{
  color: #016064;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover,
a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}

a:active {
  color: #016064;
}

main {
  padding-top: 58px;
}

header {
  background-color: #F1FBFE; /* bluish cyan*/
  padding: 10px 0 4px; /* added 4px for mobile */
  box-shadow: 4px 4px 1px 2px #F4EAFB;
  position:fixed;
  width: 100%;
  text-align:left;
}

/*nav {
  display: inline-block;
} remove so that on mobile, the header has no extra space under the logo when the nav items are hidden*/

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*nav > ul > li {
  display: inline-block;
} remove so that on mobile, the items are listed underneath eachother rather than beside each other*/

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:#4a4a4a;
}
nav > ul > li > a:visited {
  color: black;
}
nav > ul > li > a:hover,
  a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}
nav > ul > li > a:active{
    color: #016064;
}

.navtoggle li:not(:last-child) {
  display:none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li {
  display: block;
  padding:10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive nav{
  padding: 24px 0 0;
}
.navtoggle.responsive li:last-child{
  padding: 0 0 10px;
}

/*hero section, work section, contact section id selectors */
#contact{
  background-color: #F1FBFE;
  text-align: center;
}

#contact svg{
  max-width: 25px;
  display: inline-block;
  margin: 0 5px;
}

#hero {
  background-color: #F1FBFE ;
  color: black;
  font-family:'Montserrat';
  font-size: 2em;
  font-weight: 550;
  text-align:center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#hero span{
  display: block;
}

#hero h1{
  text-align:center;
  font-size: 1.5em;
}

#work {
  background-color: #F4EAFB;
}
#work h2{
  text-align: center;
  font-weight: 600;
}

#work h3{
  font-weight: 600;
}

#work.row{ /*this would aply styling to elements with both ids*/
  padding-bottom: 25px; border-bottom:1px solid #4a4a4a;
}


div.a{
  background-color: #F4EAFB;
  text-align: left;
  font-family:'Nunito Sans', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
  padding: 0 5px;
}
div.b{
  background-color: #F1FBFE;
  text-align: left;
  font-family:'Nunito', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
}

img {
  width: 100%;
}

.logo{
  max-width:100px;
}

svg{
  max-width: 600px;
  display: inline-block;
  margin: 0 5px;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill:#f76414;}
}

.sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*the above code could also be simplified into one line such as:
.sun
{ animation: 4s color-change infinite alternate linear;
-just add a space between the property values.
}*/

@keyframes cloud-move{
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}
.cloud-front{
  animation-duration: 30s; /* 30s to make it go slow */
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* about page */
#about-page {
  background-color: #F1FBFE;
}
#about-page h3 {
  margin-top:0;
}
#about-page picture{
  max-width: 400px;
  display: inline-block;
  margin: 0 5px;
}





/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25 px top and bottom,0 left and right */
}
.row::after{
  content: "";
  clear: both;
  display: table;
}


/* make sure this button rule is at the end of the css docuement
bc it could get overwritten by deafult or other button styles*/
.button {
  display: inline-block;
  background-color: #F4EAFB;
  color: #016064; /* to override deafault link color */
  font-weight: 600;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid #016064; /* width/type/color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* reduces button opacity to 70% */
  text-decoration: underline;
}

.button:active {
  color: #BD93D3;
}

.button.contact{
  background-color: transparent;
  color: #016064;
  text-decoration: none;
  border: 2px solid #016064;
}

.button.contact:hover {
  background-color: #F1FBFE;
  color: #BD93D3;
  text-decoration: underline;
}

.button.contact:active{
  color: #BD93D3;
}

.button.resume{
  background-color: #F1FBFE;
  color: #016064;
  text-transform: none;
  border-radius: 3px;
  border-bottom: 2px solid #016064;
}

.button.resume:hover {
  background-color: #c1f7f6;
  color: #BD93D3;
  text-decoration: underline;
}

.button.resume:active {
  color: #016064;
}

[class*= "col-"]{
  float:left;
  padding: 5px;
}

@media only screen and (min-width: 641px){
  header{
    text-align: unset;
    padding: 20px 0 13px;
  }
  nav> ul> li{
    display: inline-block;
  }
  nav{
    width:auto;
    float:right;
    margin-top:4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  .col-md-6 {
    width: 50%;
  }
  .logo{
    min-width:641px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
}
@media only screen and (min-width: 1024px){
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .container{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo{
    max-width:100px;
  }
}
@media only screen and (min-width: 1440px){
}
