/*
Colors
pale purple pantone: #F4EAFB
bluish cyan: #F1FBFE
smoky black: #12130F
white smoke: #F5F5F5
periwinkle: #BD93D3
ocean: #016064


*/

* {
  box-sizing:border-box;
}

body {
  background-color: #F4EAFB;
  font-family:'Nunito Sans', sans-serf;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color:black;
}

h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-family:'Montserrat';
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.35em;
  font-weight: 500;
}

h3{
  font-family: 'Poppins';
  font-size: 1.25em;
  font-weight: 500;
}


a{
  color: #016064;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover,
a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}

a:active {
  color: #016064;
}

main {
  padding-top: 133px;
}

header {
  background-color: #F1FBFE; /* bluish cyan*/
  text-align: center;
  padding: 10px 0;
  box-shadow: 4px 4px 1px 2px #F4EAFB;
  position:fixed;
  width: 100%;
}

nav {
  display: inline-block;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:#4a4a4a;
}
nav > ul > li > a:visited {
  color: black;
}
nav > ul > li > a:hover,
  a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}
nav > ul > li > a:active{
    color: #016064;
}

/*hero section, work section, contact section id selectors */
#contact{
  background-color: #F1FBFE;
}

#hero {
  background-color: #F1FBFE ;
  color: black;
  font-family:'Montserrat';
  font-size: 2em;
  font-weight: 550;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1{
  text-align:center;
}

#work {
  background-color: #F4EAFB;
}
#work h2{
  text-align: center;
  font-weight: 600;
}

#work h3{
  font-weight: 600;
}

#work.row{ /*this would aply styling to elements with both ids*/
  padding-bottom: 25px; border-bottom:1px solid #4a4a4a;
}


div.a{
  background-color: #F4EAFB;
  text-align: left;
  font-family:'Nunito Sans', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
  padding: 0 5px;
}
div.b{
  background-color: #F1FBFE;
  text-align: left;
  font-family:'Nunito', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
}

img {
  width: 100%;
}

.logo{
  max-width:250px;
}

svg{
  max-width: 25px;
  display: inline-block;
  margin: 0 5px;
}


/* Layout Styling */
.container {
  padding: 0 15px;
}
.row {
  margin: 25px 0; /* 25 px top and bottom,0 left and right */
}
/* make sure this button rule is at the end of the css docuement
bc it could get overwritten by deafult or other button styles*/
.button {
  display: inline-block;
  background-color: #F4EAFB;
  color: #016064; /* to override deafault link color */
  font-weight: 600;
  padding: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #016064; /* width/type/color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.7; /* reduces button opacity to 70% */
  text-decoration: underline;
}

.button:active {
  color: #BD93D3;
}

.button.contact{
  background-color: transparent;
  color: #016064;
  text-decoration: none;
  border: 2px solid #016064;
}

.button.contact:hover {
  background-color: #F1FBFE;
  color: #BD93D3;
  text-decoration: underline;
}

.button.contact:active{
  color: #BD93D3;
}

.button.resume{
  background-color: #F1FBFE;
  color: #016064;
  text-transform: none;
  border-radius: 3px;
  border-bottom: 2px solid #016064;
}

.button.resume:hover {
  background-color: #c1f7f6;
  color: #BD93D3;
  text-decoration: underline;
}

.button.resume:active {
  color: #016064;
}

/*hero section, work section, contact section id selectors */
