/*
Colors
pale purple pantone: #F4EAFB
bluish cyan: #F1FBFE
smoky black: #12130F
white smoke: #F5F5F5
periwinkle: #BD93D3
ocean: #016064


*/

* {
  box-sizing:border-box;
}

body {
  background-color: #F4EAFB;
  font-family:'Nunito Sans', sans-serf;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
  margin: 1px, 4px, 1px;
  padding-top:0;
}


h1, h2, h3 {
  line-height: 1.4;
}

h1 {
  font-family:'Montserrat';
  font-size: 1.8em;
  font-weight: 520;
  margin: .50em;
  padding: 4px;
}

h2 {
  font-family: 'Montserrat';
  font-size: 1.35em;
  font-weight: 520;
}

h3{
  font-family: 'Poppins';
  font-size: 1.25em;
  font-weight: 500;
}
h5{
  font-family:'Poppins'
  font-size: 1em;
  font-weight: 300;
}

a{
  color: #016064;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover,
a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}

a:active {
  color: #016064;
}

main {
  padding-top: 135px;
  margin:0 7px 0;
  font-size: 16px;
}

header {
  background-color: #F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB, #F1FBFE, #DCF3FE); /* bluish cyan*/
  padding: 0px 4px 0; /* added 4px for mobile */
  box-shadow: 4px 4px 1px 2px #F4EAFB;
  font-weight:400;
  position:fixed;
  width: 100%;
  border-right: 2px;
  margin-right:2px;
}


/*nav {
  display: inline-block;
} remove so that on mobile, the header has no extra space under the logo when the nav items are hidden*/

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/*nav > ul > li {
  display: inline-block;
} remove so that on mobile, the items are listed underneath eachother rather than beside each other*/

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color:#4a4a4a;
}
nav > ul > li > a:visited {
  color: black;
}
nav > ul > li > a:hover,
  a:focus {       /* a:focus is for accessiility(keyboard) */
  color: #016064;
  text-decoration: underline;
}
nav > ul > li > a:active{
    color: #016064;
}

.navtoggle li:not(:last-child) {
  display:none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon{
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li {
  display: block;
  padding:7px 0;
  border-top: 1px solid #016064;
}

.navtoggle.responsive nav{
  padding: 10px 0 0;
}
.navtoggle.responsive li:last-child{
  padding: 0 0 10px;
}

/*hero section, work section, contact section id selectors */
#contact{
  background-color: #F1FBFE;
  background-image: linear-gradient(0deg,#F1FBFE, #F4EAFB);
  text-align: center;
}

#contact svg{
  max-width: 25px;
  display: inline-block;
  margin: 0 5px;
}
#contact2 {
  background-color: #F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB, #F1FBFE);
  text-align: center;
}
#contact2 svg{
  max-width: 25px;
  display: inline-block;
  margin: 0 5px;
}

#hero {
  background-color:#F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB, #F1FBFE)
  color: black;
  font-family:'Montserrat';
  font-size: 1.5em;
  font-weight:500;
  text-align:center;
  padding-top: 6px;
  display: inline-block;
  width: 100%;
}
#hero span{
  display: block;


}

#hero h1{
  text-align: center;
  font-size: 1.4em;
  font-weight:530;
}
#hero p{
  font-size: 1em;
}
#work {
  background-color: #F4EAFB;
  padding-top: 15px;
  margin-top: 5px;
}
#work h1{
  text-align: center;
  font-weight:
}
#work h2{
  text-align: center;
  font-weight: 600;
}

#work h3{
  font-weight: 600;
}

#work.row{ /*this would aply styling to elements with both ids*/
  padding-bottom: 25px; border-bottom:1px solid #4a4a4a;
}



div.a{

  font-family:'Nunito Sans', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
  padding: 0 5px;
  max-width: 40%;
}
div.b{
  background-color: #F1FBFE;
  text-align: left;
  font-family:'Nunito', sans-serf;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color:black;
}

img {
  width: 100%;
  border-radius: 4px;
}

.logo{
  max-width:100px;
}

svg{
  max-width: 600px;
  display: inline-block;
  margin: 0;
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill:#f76414;}
}

.sun {
  animation-duration: 3s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
/*the above code could also be simplified into one line such as:
.sun
{ animation: 4s color-change infinite alternate linear;
-just add a space between the property values.
}*/

@keyframes cloud-move{
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}
.cloud-front{
  animation-duration: 30s; /* 30s to make it go slow */
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* about page */
#about-page {
  background-color: #F1FBFE;
  background-image: linear-gradient(0deg,#F1FBFE, #F4EAFB);

}
#about-page h3 {
  margin-top:0;
}
#about-page picture{
  max-width: 400px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 10px;
  border-radius:50%;
}
#about-page footer{
  background-color: #F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB, #F1FBFE);
  text-align: center;
}

#about-page img{
  border-radius: 55%;
}
#about-page .col-lg-7{
    width: 58.33%;
    float: right;
    display: inline block;
  }
}
#about-text-width div.a {
  width:30%;
  float: right;
}
}

#olive-page body{
  background-color: #F4EAFB;
}
#olive-page main{
  padding-top: 10px;
}
#olive-page picture{
  max-width: 555px;
  max-height: 560px;
  margin: 0 2px;
}



/* Layout Styling */
.container {
  padding:10px 8px 0;
}
.container h4{
  text-align: center;
}

.container2{
  padding: 0 10px 0;
  margin: 0 4px 0;
}

.container3{
  padding: 4px 10px 0;
  margin: 0 4px 0;
}
.container3 ul{
  display: table;
  margin: 0 auto;
}
.container3 h2{
  text-align: center;
}

.container4 img{
  width:280px;
  height:550px
}

.container5 img{
  width: 330;
  height: auto;
}

.iceberg{
  background-color: #DEF3EF;
  padding: 5px 0 5px;
}
.blueback{
  background-color: #F1FBFE;
  padding: 5px 0 5px;
}
.right{
  float: right;
}

.row {
  margin: 25px 0; /* 25 px top and bottom,0 left and right */
}
.row::after{
  content: "";
  clear: both;
  display: table;
}


/* make sure this button rule is at the end of the css docuement
bc it could get overwritten by deafult or other button styles*/
.button {
  display: inline-block;
  background-color: #F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB,#F4EAFB,#F1FBFE,#F1FBFE);
  color: #016064; /* to override deafault link color */
  font-weight: 600;
  text-decoration:none;
  padding: 8px;
  border-radius: 4px;
  border-bottom: 2px solid #016064; /* width/type/color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* reduces button opacity to 70% */
  text-decoration: underline;
}

.button:active {
  color: #BD93D3;
}

.button.contact{
  background-color: #F4EAFB;
  background-image: linear-gradient(0deg, #F4EAFB,#F4EAFB,#F1FBFE);
  text-decoration: none;
  border-radius: 6px;
  border: 1.45px solid #E8D9F3;
  border-bottom: 1.5px solid #BD93D3;
}

.button.contact:hover {
  background-color: #F1FBFE;
  color: #BD93D3;
  text-decoration: underline;
}

.button.contact:active{
  color: #BD93D3;
}

.button.resume{
  background-color: #F1FBFE;
  color: #016064;
  text-transform: none;
  border-radius: 3px;
  border-bottom: 2px solid #016064;
}

.button.resume:hover {
  background-color: #c1f7f6;
  color: #BD93D3;
  text-decoration: underline;
}

.button.resume:active {
  color: #016064;
}

.button.work{  background-color: transparent;
  color: #black;
  background-color: #F1FBFE;
  background-image: linear-gradient(0deg,#F1FBFE, #F4EAFB);
  text-decoration: none;
  border-radius: 4px;
  border: 1.25px solid #E8D9F3;
  border-bottom: 2px solid #016064; /* width/type/color */
  transition: 0.2s opacity;
}


[class*= "col-"]{
  float:left;
  padding: 5px;
}

@media only screen and (min-width: 641px){
  body{

      font-family:'Nunito Sans', sans-serf;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color:black;
  }
  main{
    padding-top: 160px;
  }
  header{
    text-align: unset;
    padding: 5px 10px 10px;
  }
  nav> ul> li{
    display: inline-block;
  }
  nav{
    width:auto;
    float:right;
    margin-top:4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  .col-md-6 {
    width: 50%;
  }
  .logo{
    min-width:100px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #hero{
    border-top: 10px;
  }
}
@media only screen and (min-width: 1024px){
  body{

      font-family:'Nunito Sans', sans-serf;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color:black;
  }
  main{
    padding-top: 160px;
  }
  header{
    text-align: unset;
    padding: 5px 10px 10px;
    margin: 0 2px 0 2px
  }
  nav> ul> li{
    display: inline-block;
  }
  nav{
    width:auto;
    float:right;
    margin-top:4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .container{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo{
    max-width:100px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #hero{
    border-top: 10px;
  }
}
@media only screen and (min-width: 1440px){
  body{

      font-family:'Nunito Sans', sans-serf;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      color:black;
  }
  main{
    padding-top: 160px;
  }
  header{
    text-align: unset;
    padding: 5px 10px 10px;
  }
  nav> ul> li{
    display: inline-block;
  }
  nav{
    width:auto;
    float:right;
    margin-top:4px;
  }
  nav > ul {
    margin: 1em 0;
  }
  .col-lg-7{
    width: 58.33%;
  }
  .col-lg-5{
    width: 41.66%;
  }
  .container{
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
  }
  .logo{
    max-width:100px;
  }
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }
  .navtoggle li:last-child {
    display: none;
  }
  #hero{
    border-top: 10px;
  }
